// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Variables
@import '_variables';
@import '_loading';

// Mixins
@import '_mixins/_badge';

// Modules
@import '~cropperjs/src/index';

body,
html {
    background-color: $body-bg;
    font-family: 'Inter', sans-serif;

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

div#litstack {
    display: grid;
    grid-template:
        't m'
        's m';
    grid-template-columns: $sidebar-width 1fr;
    grid-template-rows: $topbar_height auto;
}
nav#lit-sidebar {
    grid-area: s;
    border-right: $border-width solid $gray-400;
    //padding-top: $nav-padding-top;
    background: $nav-bg;
    overflow-y: auto;
    height: calc(100vh - #{$topbar-height});

    
}

